{% extends "./page.html" %}
{% block content %}
{% include "./public/banner.html" %}
<!-- CONTENT -->
<div class="uk-padding uk-padding-remove-horizontal">
    <div class="uk-container">
        <div data-uk-grid>
            <!-- main content -->
            <div
                class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-1-1@s uk-margin-top  impx-margin-top-small">
                <div class="uk-card uk-card-default uk-margin-medium-bottom impx-article">
                    <div class="uk-card-body impx-padding-medium impx-article-item">
                        <article class="uk-article">
                            <!-- article -->
                            <h3 class="uk-article-title">{{title}}</h3>
                            <p class="uk-article-meta"><i class="fa fa-user"></i>{{createdBy}} | <i
                                    class="fa fa-calendar"></i>{{createdAt}}</p>
                            <div style="width: 100%; padding-top: 20px;">
                                {{content | safe}}
                            </div>
                        </article><!-- article end -->
                    </div>
                </div>
            </div><!-- main content end -->
            <!-- sidebar -->
            <div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-1@s uk-margin-top">
                {% include "./public/right_cont.html" %}
            </div><!-- sidebar end -->
        </div>
    </div>
</div>
<!-- CONTENT END -->
{% endblock %}