<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}-酒店管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/css/header.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/tiny-date-picker.min.css" />
    <link rel="stylesheet" href="/assets/css/page.css" />
    <link rel="stylesheet" href="/assets/css/media-query.css" />
</head>

<body>
    {% include "./public/header.html" %}
    {% block content %}{% endblock %}
    {% include "./public/footer.html" %}
    <script src="/assets/js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.nav.js" type="text/javascript"></script>
    <script src="/assets/js/responsive-nav.js" type="text/javascript"></script>
    <script src="/assets/js/page/uikit.min.js"></script>
    <script src="/assets/js/page/uikit-icons.min.js"></script>
    <script src="/assets/js/page/tiny-date-picker.min.js"></script>
    <script src="/assets/js/page/jquery.parallax.min.js"></script>
    <script src="/assets/js/page/date-config.js"></script>
    <script src="/assets/js/page/template-config.js"></script>
</body>

</html>