<section class="section white-bg" id="section6">
    <div id="ancor6"></div>
    <div class="container clearfix">
        <div class="nautical-6"></div>
        <div class="col-lg-12 centered header-wrapper">
            <h2>联系我们</h2>
            <p class="large">如果您有任何疑问，建议或想预订客房，请与我们联系。我们将尽快与您联系！</p>
        </div>
        <div class="col-lg-3 col-md-3 centered contact-wrapper">
            <div class="icons map-pin-1"></div>
            <p class="small">地址</p>
            <p>Oceanview Dr 103<br /> Malé 20292<br /> Maldives</p>
        </div>
        <div class="col-lg-3 col-md-3 centered contact-wrapper">
            <div class="icons fax-machine"></div>
            <p class="small">手机/电话</p>
            <p>(845) 123-456 0<br /> (845) 123-456 78</p>
        </div>
        <div class="col-lg-3 col-md-3 centered contact-wrapper">
            <div class="icons email-2"></div>
            <p class="small">Email</p>
            <p><a href="mailto:info@cliftonhotel.com" title="">info@cliftonhotel.com</a></p>
        </div>
        <div class="col-lg-3 col-md-3 centered contact-wrapper">
            <div class="icons network"></div>
            <p class="small">其它</p>
            <ul class="social-list clearfix">
                <li><a href="#"><i class="fa fa-weixin"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-tripadvisor"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
        </div>
    </div>
</section>